<!DOCTYPE html>
<html>
  <head>
    <title>fire-api</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>FIRE API <small>USFS Major Fires as geoJSON</small></h1>
      </div>
        <p class="lead">
          The USFS logs 'Current Large Incidents,' but the data are available as a single day kmz, or a remote csv. This service will retrieve any day (with logged large incidents) and return it as geoJSON.
        </p>
        <hr>
        <h3>API 1.0 Resource <small class="text-muted">...yep, there's only one...</small></h3>
        <hr>
        <h4>GET /api/v1.0/<em>YYYY-MM-DD</em></h4>
        <hr>
        <h5><strong><em>SUCCESS</em></strong></h5>
        Returns JSON (or JSONp) object of the parameter date's large fire incidents. Return obeject has 3 child nodes: 
        <ul>
          <li><strong>date</strong>: the parameter date passed to the api</li>
          <li><strong>geojson</strong>: the geoJON object of the incidents. This contains 4 parameters:
            <ul>
              <li>area: acres of the fire</li>
              <li>fire_name: USFS common name</li>
              <li>fire_number: USFS incident ID</li>
              <li>report_date: USFS report date</li>
            </ul>
          </li>
          <li><strong>status</strong>: indicates that the call was a success</li>
        </ul>
        <a href="{{url_for('get_fires', datestring='2013-09-01')}}" target="_blank">example call</a>
        <hr>
        <h5><strong><em>ERROR</em></strong></h5>
        Returns JSON (or JSONp) object of the unsuccessful request. Return obeject has 3 child nodes: 
        <ul>
          <li><strong>error</strong>: the specific error ('no data'|'not valid date (format YYYY-MM-DD)')</li>
          <li><strong>parameter</strong>: the parameter as passed to the api</li>
          <li><strong>status</strong>: indicates that the call was not a success</li>
        </ul>
        <a href="{{url_for('get_fires', datestring='1920-09-01')}}" target="_blank">example call 1</a><br>
        <a href="{{url_for('get_fires', datestring='spam')}}" target="_blank">example call 2</a>
    </div>   
  </body>
</html>
